<footer id="footer" class="footer footer-wrapper">
  <div class="footer__btn">
    <a class="footer__btn--link" href="#header" title="Ir al incio"
      ><img
        class="ico-arrow"
        title="Ir al inicio"
        src="./assets/images/ico-arrow.svg"
        alt="flecha hacia arriba"
    /></a>
  </div>
  <nav>
    <ul class="footer__nav--links">
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Articles</a
        >
      </li>
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Books</a
        >
      </li>
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Events</a
        >
      </li>
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Reasons</a
        >
      </li>
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__nav">
    <ul class="footer__nav--socialMedia">
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Twitter</a
        >
      </li>
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Instagram</a
        >
      </li>
      <li class="footer-li">
        <a
          class="footer-links"
          title="Ir a la web de Adalab"
          href="https://adalab.es/"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <small> &copy;2021 Natalia Jiménez Nieto </small>
  <p>We (heart) components</p>
</footer>
