<footer id="footer" class="footer footer-wrapper">
  <div class="footer__btn">
    <a class="footer__btn--link" href="#header" title="Jump to top"
      ><img
        class="ico-arrow"
        title="Click this arrow to go to top"
        src="./assets/images/ico-arrow.svg"
        alt="Arrow up"
    /></a>
  </div>
  <nav class="footer__nav1">
    <ul class="footer__nav1--links">
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Articles</a
        >
      </li>
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Books</a
        >
      </li>
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
        >
          Events
        </a>
      </li>
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__nav2">
    <ul class="footer__nav2--socialMedia">
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="footer-links"
          title="Go to Adalab's web"
          href="https://adalab.es/"
          target="target_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>

  <div class="footer__smallContainer">
    <small class="footer__smallContainer--small"> &copy;2021</small>
    <p class="footer__smallContainer--motto">
      We <i class="heart-icono fas fa-heart"></i> components
    </p>
  </div>
</footer>
