<header id="header" class="header">
  <nav class="header__menu">
    <a
      class="header__menu--link"
      title="Go to Adalab's web"
      href="https://adalab.es/"
      target="target_blank"
      ><img
        class="ico-menu"
        src="./assets/images/ico-menu.svg"
        title="Click this icon to go to Adalab's website"
      />
    </a>
  </nav>

  <h1 class="header__title">Anonymous proxy</h1>
  <h2 class="header__h2">In hac habitasse platea dicumst</h2>
  <div class="header__btn">
    <a
      class="header__btn--link"
      href="#footer"
      title="Jump to '3 Reasons To Purchase' section"
      ><img
        class="header__btn--scroll"
        src="./assets/images/ico-scroll-down.svg"
        alt="Arrow to scroll down"
        title="Click this arrow to scroll down"
    /></a>
  </div>
</header>
