<header id="header" class="header">
  <nav class="header__menu">
    <a
      class="header__menu--link"
      title="Ir a la web de Adalab"
      href="https://adalab.es/"
      ><img
        class="ico-menu"
        src="./assets/images/ico-menu.svg"
        title="Ir a la web de Adalab"
      />
    </a>
  </nav>

  <div class="header__title">
    <h1 class="header__title--h1">Anonymous proxy</h1>
    <h2 class="header__title--h2">In hac habitasse platea dicumst</h2>
    <div class="header__title--btn">
      <a href="#footer" title="Ir al pie de página"
        ><img
          class="ico-scroll-down"
          src="./assets/images/ico-scroll-down.svg"
          alt="Ir al pie de página"
      /></a>
    </div>
  </div>
  <!-- <button class="header__title--btn"></button> -->
</header>
