<main class="main">
    <section class="section1 page-wrapper">
      <article class="section1__article">
        <small class="section1__article--insomnia">Insomia Tips</small>
        <h3 class="section1__article--title">Looking Through A Window</h3>
        <p class="section1__article--paragraph">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <a title="" href="#" class="section1__article--btn">
          <button class="btn-go">Go</button>
        </a>
      </article>
    </section>
    <section class="section2">
      <h3 class="section2__title">3 Reasons To Purchase</h3>
      <article class="section2__reasons--reason1">
        <h4 class="reason1-title">Ut sed metus</h4>
        <p class="reason1-paragraph">Lorem ipsum dolor sit amet, conscteur.</p>
      </article>
      <article class="section2__reasons--reason2">
        <h4 class="reason2-title">Curabitur ac erat</h4>
        <p class="reason2-paragraph">Mauris mattis uma quis lorem molestie.</p>
      </article>
      <article class="section2__reasons--reason3">
        <h4 class="reason3-title">Morbi dictum</h4>
        <p class="reason3-paragraph">Aliquam in dolor et dolor tincidunt.</p>
      </article>
      <button title="¿Quieres saber más razones?" class="section2__btn">More reasons</button>
    </section>
  </main>
</main>
