// FONT
$MainFont: "Roboto", sans-serif;
$TitleFont: "RobotoSlab";
$LinksSize: 16px;
$lineHeight: 30px;

// Mobil:
$MobilTitleSize: 42px;
$MobilTitleLineHeight: 55px;
$MobilH2Size: 16px;
$MobilFontSize: 18px;
$MobilSectionSize: 24px;
$lineHeight: 30px;

// Tablet:
$TabletTitleSize: 80px;
$TabletTitleLineHeight: 106px;
$H2Size: 24px;
$TabletFontSize: 20px;
$TabletSectionSize: 26px;

// Desktop:
$DesktopTitleSize: 100px;
$DesktopTitleLineHeight: 132px;
$DesktopFontSize: 20px;
$TabletSectionSize: 32px;
$DesktopSectionSize: 32px;

// colors
$bright-orange: #f26002;
$white: #ffffff;
$ice-blue:#eff9ff;
$light-blue: #8ccbea;
$blue: #0271bc;
$dark-grey-blue: #304268;
$black: #000000;

// sections' colors
$colorSection2: $ice-blue;
$colorFooter: $dark-grey-blue;
$colorLinks: $white;
$colorMenuIcon: $blue;
$colorTitle: $white;
$colorFont: $black;

//sizes
$tablet: 768px;
$desktop: 1200px;
