// fonts
$font-main: "Roboto", sans-serif;

// colors
$bright-orange: #f26002;
$white: #ffffff;
$light-blue: #8ccbea;
$blue: #0271bc;
$dark-grey-blue: #304268;

// sections' colors
$colorSection2: $light-blue;
$colorFooter: $dark-grey-blue;
$colorLinks: $white;
