// Footer

.footer-wrapper {
  padding: 0 15px;
  @media (min-width: $tablet) {
    padding: 0 39px;
  }
  @media (min-width: $desktop) {
    padding: 0 370px;
  }
}
.footer {
  background-color: $colorFooter;
  position: relative;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  // Button to go to the top
  &__btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    background-color: $white;
    border-radius: 22.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    animation: flux 3s ease-out infinite;
    transition: border 0.5s ease, box-shadow 0.5s ease;
    &:hover {
      border: 2px solid $bright-orange;
      box-shadow: 0 0 12px $bright-orange, 0 0 12px $bright-orange,
        0 0 22px $bright-orange;
    }
    @media (min-width: $tablet) {
      left: 48.5%;
    }

    &--link {
      display: flex;
      justify-content: center;
      padding: 11px 12.4px 10px 12px;
      .ico-arrow {
        width: 20.6px;
        height: 24px;
        object-fit: contain;
      }
    }
  }

  // Links to Adalab's website

  &__nav1 {
    padding-top: 60px;
    @media (min-width: $tablet) {
      padding: 45px 0;
      width: 210px;
    }
    @media (min-width: $tablet) {
      width: 159px;
    }
    &--links {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $tablet) {
        align-items: flex-start;
      }
    }
  }
  &__nav2 {
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: $tablet) {
      padding-top: 45px;
      width: 210px;
    }
    @media (min-width: $desktop) {
      width: 161px;
      padding-right: 95px;
    }
    &--socialMedia {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $tablet) {
        align-items: flex-start;
      }
    }
  }
  .footer-links {
    padding: 5px;
    @media (min-width: $tablet) {
      padding: 5px 15px 5px 0;
    }
  }

  // Container for copyright and motto

  &__smallContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    @media (min-width: $tablet) {
      order: -1;
      align-items: flex-start;
      padding-top: 45px;
      width: 210px;
    }

    &--small {
      line-height: 30px;
    }
    &--motto {
      padding-bottom: 45px;
      line-height: 30px;
    }

    .heart-icono {
      color: $bright-orange;
      &:hover {
        animation: shake 0.9s ease;
      }
    }
  }
}
