.header-wrapper {
  margin: 0 15px;
  @media (min-width: $tablet) {
    margin: 0 39px;
  }
  @media (min-width: $desktop) {
    margin: 0;
  }
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
  background-image: url(../images/cover.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__menu {
    width: 44px;
    height: 44px;
    background-color: $colorMenuIcon;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--link {
      padding: 15px 14px;
      display: flex;
      // justify-content: center;
      // align-items: center;

      .ico-menu {
        width: 16px;
        height: 14px;
      }
    }
  }

  &__title {
    position: absolute;
    top: 250px;
    bottom: 20px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $colorTitle;
    // font-size: $titleFontSize;

    &--h1 {
      text-align: center;
      word-spacing: 100vw;
      text-transform: uppercase;
      font-family: $TitleFont;
      font-weight: bold;
      font-size: $MobilTitleSize;
      line-height: $MobilTitleLineHeight;
      margin-bottom: 10px;
      @media (min-width: $tablet) {
        margin: 0 39px;
        font-size: $TabletTitleSize;
        line-height: $TabletTitleLineHeight;
      }
      @media (min-width: $desktop) {
        margin: 0 275px;
        font-size: $DesktopTitleSize;
        line-height: $DesktopTitleLineHeight;
      }
    }

    &--h2 {
      text-align: center;
      font-size: $MobilH2Size;
      margin-bottom: 30px;
      @media (min-width: $tablet) {
        font-size: $H2Size;
        margin-bottom: 15px;
      }
      @media (min-width: $desktop) {
      }
    }

    &--btn {
      background-color: $white;
      border-radius: 22.5px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: contain;
      @media (min-width: $tablet) {
        margin-bottom: 30px;
      }
      @media (min-width: $desktop) {
        margin-bottom: 15px;
      }
      a {
        display: flex;
        padding: 15px;
        @media (min-width: $desktop) {
          padding-bottom: 13px;
        }
      }
    }
  }
}
.img-arrow {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
