.header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
  background-image: url(../images/cover.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: $white;

  &__menu {
    width: 44px;
    height: 44px;
    background-color: $colorMenuIcon;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &--link {
      padding: 15px 14px;
      display: flex;
      // justify-content: center;
      // align-items: center;

      .ico-menu {
        width: 16px;
        height: 14px;
      }
    }
  }

  &__title {
    text-align: center;
    word-spacing: 100vw;
    text-transform: uppercase;
    font-family: $TitleFont;
    font-weight: bold;
    font-size: $MobilTitleSize;
    line-height: $MobilTitleLineHeight;
    margin-bottom: 10px;
    @media (min-width: $tablet) {
      margin: 0 39px;
      font-size: $TabletTitleSize;
      line-height: $TabletTitleLineHeight;
    }
    @media (min-width: $desktop) {
      margin: 0 275px;
      font-size: $DesktopTitleSize;
      line-height: $DesktopTitleLineHeight;
    }
  }

  &__h2 {
    text-align: center;
    font-size: $MobilH2Size;
    margin-bottom: 30px;
    @media (min-width: $tablet) {
      font-size: $H2Size;
      margin-bottom: 15px;
    }
  }

  &__btn {
    background-color: $white;
    border-radius: 22.5px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 53px;
    @media (min-width: $tablet) {
      margin-bottom: 45px;
    }
    @media (min-width: $desktop) {
      // margin-bottom: 15px;
    }
    a {
      display: flex;
      padding: 15px;
      @media (min-width: $desktop) {
        padding-bottom: 13px;
      }
    }
  }
}
