//  Section "Looking Through A Window
.page-wrapper {
  margin: 0 15px;
  @media (min-width: $tablet) {
    margin: 0 39px;
  }
  @media (min-width: $desktop) {
    margin: 0 275px;
  }
}
.section1 {
  padding: 30px 0;
  background-color: $white;
  display: flex;
  justify-content: center;

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &--insomnia {
      font-size: 14px;
      line-height: $lineHeight;
      color: $light-blue;
      margin-bottom: 1px;
      @media (min-width: $tablet) {
        width: 216px;
        margin-bottom: 0;
      }
      @media (min-width: $desktop) {
        width: 360px;
      }
    }

    //  Section's title
    &--title {
      font-size: $MobilSectionSize;
      @media (min-width: $tablet) {
        font-size: $TabletSectionSize;
      }
      @media (min-width: $tablet) {
        font-size: $DesktopSectionSize;
      }
    }

    //  Section's paragraph
    &--paragraph {
      padding: 15px 0 30px 0;
      color: #4a4a4a;
      @media (min-width: $tablet) {
        padding-top: 30px;
      }
    }

    //  Section's button
    &--btn {
      text-decoration: none;
      padding: 0 25px 0 26px;
      width: 76px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $bright-orange;
      background-color: $white;
      border: solid 2px $bright-orange;
      border-radius: 22.5px;
      font-size: 20px;
      font-weight: 500;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0);
      transition: transform 0.5s ease, color 1s ease-out,
        background-color 0.5s ease-in, font-weight 0.5s ease;

      &:hover {
        transform: scale(1.1);
        color: $white;
        background-color: $bright-orange;
        font-weight: bold;
      }

      @media (min-width: $tablet) {
        width: 91px;
      }
      @media (min-width: $desktop) {
        width: 160px;
      }
    }
  }
}
