@import "core/variables";
@import "core/reset";
@import "core/links";
@import "core/animations";
@import "layout/header";
@import "layout/section1";
@import "layout/section2";
@import "layout/footer";

body {
  font-family: $MainFont;
  font-size: $MobilFontSize;
  color: $black;
  @media (min-width: $tablet) {
    font-size: $TabletFontSize;
  }
}

.page-wrapper {
  margin: 0 15px;
  @media (min-width: $tablet) {
    margin: 0 39px;
  }
  @media (min-width: $desktop) {
    margin: 0 275px;
  }
}
