@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";
@import "pages/index";

body {
  font-family: $MainFont;
  font-size: $MobilFontSize;
  color: $black;
  @media(min-width: $tablet){
      font-size: $TabletFontSize;
  }
}

.page-wrapper {
  margin: 0 15px;
  @media (min-width: $tablet) {
    margin: 0 39px;
  }
  @media (min-width: $desktop) {
    margin: 0 275px;
  }
}
